{% extends 'admin.html'%}

<!-- overriding for external scripts -->
{% block externals %}

<!-- Custom CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/tabs.css') }}"
/>

<!-- Custom JS -->
<script
  defer
  src="{{ url_for('static', filename='js/dashboard.js') }}"
></script>

{% endblock externals %}
<!-- overriding for external scripts end -->

<!-- overriding for external contents -->
{% block content %}
<div class="layout--wrapper">
  <div class="overflow-y-hidden overflow-y-md-auto list--MAIN">
    <span class="list--total">{{links.count()}} Links</span
    ><span class="list--filter">Clicks all time</span>
    <div>
      {% for link in links %}
      <a class="bitlink-item--MAIN"
        ><span class="bitlink-item--checkbox"
          ><div class="checkbox--SMALL" id="3uyFTMA">
            <i class="fas fa-code-branch"></i></div></span
        ><time
          data-date_created="{{link['date_created'].strftime('%b %d, %Y, %I:%M %p')}}"
          class="bitlink-item--created-date"
          datetime="{{link['date_created'].strftime('%m-%d-%Y')}}"
          >{{link['date_created'].strftime("%b %d, %Y")}}</time
        >

        {% if link.title %}

        <div
          data-author="{{session['current_user']['username']}}"
          data-title='{{ link.title[:50] +"..." if len(link.title) > 50 else link.title}}'
          class="bitlink-item--title"
        >
          {{ link.title[:50] +"..." if len(link.title) > 50 else link.title}}
        </div>
        {% else %}

        <div
          data-title='{{ link.origin[:50] +"..." if len(link.origin) > 50 else link.origin}}'
          class="bitlink-item--title"
        >
          {{ link.origin[:50] +"..." if len(link.origin) > 50 else link.origin}}
        </div>
        {% endif %}

        <div>
          <div
            class="bitlink--MAIN"
            data-origin="{{link.origin}}"
            data-abbrefy='{{url_for("links.router", slug=link.slug, _external=True)}}'
            data-stealth="{{link.stealth}}"
            tabindex="-1"
            title='{{url_for("links.router", slug=link.slug, _external=True)}}'
          >
            {{url_for("links.router", slug=link.slug, _external=True)}}
          </div>
          <span
            data-clicks="{{link.clicks}}"
            data-audience="{{link.audience}}"
            class="click-count--MAIN"
            >{{link.clicks}}<span class="icon clicks-icon"></span
          ></span></div
      ></a>
      {% endfor %}
    </div>
  </div>
  <div class="item-detail--MAIN open" style="height: 100vh !important">
    <div class="bitlink-detail">
      <span class="item-detail--back-nav"
        >Abbrefy Link Details<a href="#" class="icon close-icon"></a
      ></span>
      <div>
        <time class="item-detail--created-date" datetime="2021-05-10"></time
        ><span
          ><span class="info-wrapper--divider">|</span
          ><span class="item-detail--created-link"
            >{{session["current_user"]['username']}}</span
          ></span
        >
        <div class="item-detail--title"></div>
        <div>
          <a class="item-detail--url" href="" target="_blank"></a>
        </div>
      </div>
      <div class="bitlink--copy-wrapper">
        <div class="bitlink--copy-tooltip">
          <!-- <input tabindex="-1" value="" /><span
            class="bitlink--copy-tooltip-text"
            >Press Ctrl-c to copy</span
          > -->
        </div>
        <div class="bitlink--copy-interface">
          <a href="" class="bitlink--copyable-text" target="_blank"
            ><div
              class="bitlink--MAIN bitlink--detail--MAIN"
              tabindex="-1"
              title=""
            ></div>

            <div
              class="bitlink--MAIN bitlink--detail--MAIN"
              tabindex="-1"
              title=""
            ></div>
          </a>
          <div class="undefined item--action-buttons">
            <button
              class="button--ACTION button--COPY"
              type="button"
              tabindex="0"
            >
              COPY
            </button>

            <div class="dropdown dropdown with-arrow">
              <button
                id="avatar-popover-toggle"
                aria-haspopup="true"
                aria-expanded="false"
                data-toggle="dropdown"
                class="button--ACTION"
                type="button"
                tabindex="0"
                id=""
              >
                SHARE
              </button>
              <div
                class="dropdown-menu dropdown-menu-center"
                aria-labelledby="avatar-popover-toggle"
                style="min-width: 12rem; border-color: #e3425a"
              >
                <a
                  class="dropdown-header"
                  href=""
                  target="_blank"
                  onclick="twitterShare(this)"
                >
                  <i class="fab fa-twitter"> </i> Twitter</a
                >
                <div class="dropdown-divider"></div>
                <a
                  href=""
                  target="_blank"
                  onclick="linkedInShare(this)"
                  class="dropdown-header"
                >
                  <i class="fab fa-linkedin"> </i> LinkedIn</a
                >

                <div class="dropdown-divider"></div>
                <a
                  href=""
                  target="_blank"
                  onclick="facebookShare(this)"
                  class="dropdown-header"
                >
                  <i class="fab fa-facebook"> </i> Facebook</a
                >
              </div>
            </div>
            <a
              class="button--ACTION button__edit"
              type="button"
              tabindex="0"
              id=""
              href="#modal-1"
              role="button"
            >
              Edit
            </a>

            <!-- <button
              class="button--ACTION button__edit"
              type="button"
              tabindex="0"
              id=""
            >
            </button> -->
          </div>
        </div>
      </div>
      <div>
        <div class="info-wrapper--MAIN">
          <div class="item-detail--click-stats-wrapper">
            <div class="info-wrapper--user-clicks">
              <div class="info-wrapper--header">
                <span class="info-wrapper--clicks-text">1</span
                ><span class="icon clicks-icon"></span>
              </div>
              <div class="item-detail--selected-day">total clicks</div>
            </div>
          </div>
          <div></div>
        </div>
        <div class="info-wrapper--ALTERNATE">
          <div class="">
            <h4 class="info-wrapper--header">Audience Locations</h4>
          </div>
          <div class="audience--locations---MAIN"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
<!-- overriding for external contents end -->
