{% extends 'admin.html'%}

<!-- overriding for external scripts -->
{% block externals %}

<!-- Custom CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>

<!-- Custom JS -->
<script
  defer
  src="{{ url_for('static', filename='js/dashboard.js') }}"
></script>

{% endblock externals %}
<!-- overriding for external scripts end -->

<!-- overriding for side links -->
{% block sidelinks %}
<div class="feedback_container">
  <div class="sidebar-divider"></div>
  {% for link in links %}
  <div class="feedback">
    <span class="nav-link user" style="width: fit-content">
      <small style="font-weight: 700; font-size: 0.8rem" class="pl-10"
        >{{link['date_created'].strftime("%b %d, %Y")}}</small
      >
    </span>
    {% if link.title %}

    <p style="font-size: 1.1rem" class="sidebar-link">
      {{ link.title[:50] +"..." if len(link.title) > 50 else link.title}}
    </p>
    {% else %}

    <p style="font-size: 1.1rem; word-break: break-all" class="sidebar-link">
      {{ link.origin[:50] +"..." if len(link.origin) > 50 else link.origin}}
    </p>
    {% endif %}
    <div class="sidebar-link">
      <div class="d-flex justify-content-between align-items-center">
        <div id="lcon">
          <i id="story-id" data-storyid="" class="fa fa-link"></i>
          <span class="lspan"
            ><a
              target="_blank"
              class=""
              href='{{url_for("links.router", slug=link.slug, _external=True)}}'
              >{{url_for("links.router", slug=link.slug, _external=True)}}</a
            ></span
          >
        </div>

        <div style="font-size: 1.1rem" class="btn-group">
          <span
            >{{link.clicks}}
            <i class="fas fa-mouse"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="sidebar-divider"></div>
  </div>
  {% endfor %}
</div>

{% endblock sidelinks %}
<!-- overriding for side links end -->

<!-- overriding for external contents -->
{% block content %}
<div class="container">
  <div class="card">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem molestiae iure
    laborum deserunt. Eveniet adipisci, placeat aut necessitatibus magni
    eligendi expedita molestias fugit quia sapiente dolor commodi, laudantium
    quo incidunt!
  </div>
</div>

{% endblock content %}
<!-- overriding for external contents end -->
