{% extends 'layout.html'%}

<!-- overriding for external scripts -->
{% block externals %}

<!-- RemixIcon CSS -->

<link
  href="{{ url_for('static', filename='libraries/bootstrap-icons/bootstrap-icons.css') }}"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='libraries/remixicon/remixicon.css') }}"
  rel="stylesheet"
/>

<!-- Custom CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/solutions.css') }}"
/>

<!-- External JS -->
<script defer src="{{ url_for('static', filename='js/main.js') }}"></script>

<!-- Custom JS -->
<script
  defer
  src="{{ url_for('static', filename='js/solutions.js') }}"
></script>

{% endblock externals %}
<!-- overriding for external scripts end -->

<!-- overriding for external contents -->
{% block content %}

<div class="container">
  <!-- ======= Features Section ======= -->
  <section id="mobile" id="features" class="features">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <p>Premium Features At Zero Cost</p>
      </header>

      <div style="margin-top: 0" class="row feature-icons">
        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-smartphone-line"></i>
                <div>
                  <h4>Mobile Links</h4>
                  <p>
                    Really, you need to break out on those long URLs and start
                    using links you can easily remember.
                  </p>
                </div>
              </div>

              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <i class="ri-reply-all-line"></i>
                <div>
                  <h4>Easy Sharing</h4>
                  <p>
                    Go with our short URL slugs or define customs ones that you
                    can easily share with others.
                  </p>
                </div>
              </div>

              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="200"
              ></div>

              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="500"
              >
                <i class="ri-pen-nib-line"></i>
                <div>
                  <h4>Powerful Control</h4>
                  <p>
                    Your link, your way. Create, edit, privatize, and delete
                    links at any time, from anywhere.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <img
            src="{{url_for('static', filename='images/mobile.jpg')}}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <!-- / row -->

      <!-- Feature Tabs 3 -->
      <div id="customization" class="row tab2" data-aos="fade-up">
        <div class="col-lg-6">
          <img
            src="{{url_for('static', filename='images/create.jpg')}}"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Link Customization</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Unlimited Modifications</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Streamlined Dashboard</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Instant Redirects</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Security and Reliability</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Free & Powerful Features</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Feature Tabs -->

      <!-- Feature Tabs 2 -->
      <div id="management" class="row feature-icons" data-aos="fade-up">
        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-terminal-box-line"></i>
                <div>
                  <h4>Link Management</h4>
                  <p>
                    A personal dashboard that allows you to create and modify
                    links as needed.
                  </p>
                </div>
              </div>

              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <i class="ri-map-pin-line"></i>
                <div>
                  <h4>Management From Anywhere</h4>
                  <p>
                    Access and manage your links even from third-party
                    applications with our powerful public APIs.
                  </p>
                </div>
              </div>

              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <i class="ri-links-line"></i>
                <div>
                  <h4>Short Links - Big Results</h4>
                  <p>
                    Powerup your activities, join the band of those doing
                    awesome things! Get started with Abbrefy.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <img
            src="{{url_for('static', filename='images/5157442.jpg')}}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <!-- End Feature Tabs -->
    </div>
  </section>
  <!-- End Features Section -->
</div>

{% endblock content %}
<!-- overriding for external contents end -->
