{% extends 'layout.html'%}

<!-- overriding for external scripts -->
{% block externals %}

<!-- Custom CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/signin.css') }}"
/>

<!-- Custom JS -->
<script defer src="{{ url_for('static', filename='js/signin.js') }}"></script>

{% endblock externals %}
<!-- overriding for external scripts end -->

<!-- overriding for external contents -->
{% block content %}

<div class="container">
  <div class="content-section">
    <!-- Rendering Sign In Form  -->
    <form action="" method="POST" class="form-signin">
      {{form.hidden_tag()}}

      <fieldset class="form-group">
        <h3 class="mb-2 font-weight-bold border-bottom">Let's Abbrefy</h3>

        <div class="form-group">
          {{form.identifier.label(class="form-control-label")}} {%if
          form.identifier.errors %} {{form.identifier(class="form-control
          is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.identifier.errors %}
            <small>{{ error }}</small>
            {% endfor %}
          </div>
          {% else %} {{form.identifier(class="form-control")}} {% endif %}
        </div>
        <div class="form-group">
          {{form.password.label(class="form-control-label")}}
          {{form.password(class="form-control")}}
        </div>

        <div class="form-group">
          {{form.submit(class="btn btn-lg btn-primary btn-block")}}
        </div>
        <p class="text-muted text-center">
          <a href="{{ url_for('users.signin') }}">Forgot Password?</a>
        </p>

        <!-- Redirecting to Sign Up page for new users -->
        <div class="form-group">
          <p class="text-muted text-center">
            Don't Have an Account?
            <a href="{{ url_for('users.signup') }}">Sign Up Here</a>
          </p>
        </div>
        <!-- Redirecting to Sign In page for exsiting users end-->
      </fieldset>
    </form>

    <!-- Rendering Sign In Form End -->
  </div>
</div>

{% endblock content %}
<!-- overriding for external contents end -->
