aiofiles==0.7.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
decorator==5.0.7
dnspython==2.1.0
email-validator==1.1.2
firebase-admin==5.0.3
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
Flask-WTF==0.14.3
google-api-core==2.0.1
google-api-python-client==2.22.0
google-auth==2.2.0
google-auth-httplib2==0.1.0
google-cloud-core==2.0.0
google-cloud-firestore==2.3.3
google-cloud-storage==1.42.2
google-crc32c==1.2.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
grpcio==1.40.0
gunicorn==20.0.4
httplib2==0.19.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
MongoAlchemy==0.19
msgpack==1.0.2
multidict==5.1.0
packaging==21.0
proto-plus==1.19.0
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.1.0
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dotenv==0.17.0
redis==3.5.3
requests==2.25.1
rq==1.10.0
rsa==4.7.2
Safe==0.4
six==1.16.0
soupsieve==2.2.1
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.4
validator-collection==1.5.0
validators==0.18.2
Werkzeug==1.0.1
WTForms==2.3.3
yarl==1.6.3
