.link-active{
    color: #e3425a !important;
}
.abbrefy__search{
    display: none;
}

@media (max-width: 575px) {
  #search {
        display: none;
    }

    .abbrefy__search{
        display: block;
    }

    .page-wrapper.with-sidebar[data-sidebar-hidden]>.sidebar {
        left: -100%
    }
}

.fa-link {
    font-size: 1.1rem;
}

.lspan{
    font-size: 1.1rem;
}
a{
       text-decoration: none !important;  
}

.user:hover{
    color: initial !important;
}

.feedback_container{
    cursor: pointer;
}