html,
body {
    height: 100%;
}


h3{
    color: #ff4d4f;
    text-align: center !important;
}

h1.h3 {
    text-align: center !important;
    /* margin-top: px; */

}

p.text-center {
    margin-bottom: 2px !important;
}



.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}