@media (min-width: 1201px) {
.col-xl-8 {

   
    flex: 0 0 90% !important;
    max-width: 100% !important;
}
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
}

.features .feature-box h3 {
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
}

.features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
}

.features .feature-box:hover i {
    background: #e3425a;
    color: #fff;
}

.features .feture-tabs {
    margin-top: 100px;
}

.features .feture-tabs h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .features .feture-tabs h3 {
        font-size: 28px;
    }
}

.features .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
}

.features .feture-tabs .nav-link.active {
    color: #e3425a;
    border-bottom: 3px solid #e3425a;
}

.features .feture-tabs .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #012970;
}

.features .feture-tabs .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: #e3425a;
}

.features .feature-icons {
    margin-top: 120px;
}

.features .feature-icons h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .features .feature-icons h3 {
        font-size: 28px;
    }
}

.features .feature-icons .content .icon-box {
    display: flex;
}

.features .feature-icons .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
}

.features .feature-icons .content .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
}

.tab2{
    padding-top: 80px;
}



@media (min-width: 768px) {
    .col-md-6 {
        /* flex: 0 0 auto; */
        width: 50% !important;
    }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    /* padding: 60px 0; */
    padding-top: 40px;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #e3425a;
    text-transform: uppercase;
}

.section-header p {
    margin: 0px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #04140d;
}

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}
